@import "normalize.css";
@import "flexboxgrid";

:root {
  /* --frame-color: #ddd; */
  --color-white: #fdfdfd;
  --color-dark: #352f36;
  --frame-color: var(--color-dark);
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  line-height: 1.5;
  font-weight: 400;
  color: var(--color-dark);

  color-scheme: light dark;
  background-color: var(--frame-color);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  min-height: 100vh;
  font-size: 1.8rem;
  overflow-y: auto;
  max-width: 100vw;
  scrollbar-gutter: stable;
}

.wrap {
  width: min(100% - 40px, 132rem);
  margin: 0 auto;
}

@media only screen and (max-width: 600px) {
  .wrap {
    width: min(100% - 20px, 132rem);
  }
}

h1, h2, h3 {
  font-family: "Libre Baskerville", serif;
}

strong {
  font-weight: 700;
}

a {
  text-decoration: none;
  border-bottom: dashed 1px;
  color: #000;
}

a:hover {
  border-bottom-style: solid
}

.frame:after,
.frame:before {
  position: fixed;
  content: "";
  left: 0;
  width: 100%;
  height: 40px;
  background-color: var(--frame-color);
  z-index: 10;
}

.frame:before {
  top: 0
}

.frame:after {
  bottom: 0
}

.frame__container {
  margin: 0 40px 0;
  padding: 40px 0;
  background: var(--color-white);
  display: block;
  width: calc(100% - 80px);
  min-height: calc(100vh - 80px);
  color: #352f36;
  position: relative;
}

@media only screen and (max-width: 600px) {
  .frame:after,
  .frame:before {
    height: 20px;
  }

  .frame__container {
    margin: 0 20px 0;
    padding: 20px 0;
    background: var(--color-white);
    display: block;
    width: calc(100% - 40px);
    min-height: calc(100vh - 80px);
  }
  
  .container-fluid {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}

h1 {
  font-size: 3rem;
}

h2 {
  margin-top: 0;
  font-size: 2.6rem;
}

h3 {
  font-weight: 700;
  font-size: 2.4rem;
}

h4 {
  font-weight: 700;
  font-size: 2rem;
  margin-bottom: 5px;
}


header {
  position: relative;
  margin-bottom: 20px;
  z-index: 1;
}

.menu {
  list-style-type: none;
  padding-left: 0;
  font-size: 2rem;
}
.menu li {
  margin: 10px 0;
}

.intro {
  position: sticky;
  align-self: flex-start;
  top: 80px;
  padding-right: 80px;
  min-height: calc(100vh - 160px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}


@media only screen and (max-width: 600px) {
  .intro {
    padding-right: 0;
    min-height: auto;
  }
}

.intro p {
  font-size: 2.2rem;
}

.section-title {
  position: relative;
  text-align: center;
  font-size: 3rem;
}

.section-title span {
  position: relative;
  z-index: 5;
  background: var(--color-white);
  display: inline-block;
  padding: 0 10px;
  margin-bottom: 20px;
}

.section-title:before,
.section-title:after {
  content: "";
  z-index: 1;
  position: absolute;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #352f36;
  transition: all 0.3s;
}

.section-title:before {
  top: 21px;
}

.section-title:after {
  top: 26px;
}

.section-title:hover:before {
  transform: translateY(2px);
  width: 80%;
  left: 10%;
}
.section-title:hover:after {
  transform: translateY(-2px);
  width: 80%;
  left: 10%;
}

section {
  margin: 40px 0;
}

.picture {
  text-align: center;
  margin-bottom: 60px;
}

.picture img {
  max-width: 100%;
  /* filter: grayscale(1); */
  /* transition: all 0.3s; */
}

/* .picture img:hover {
  filter: grayscale(0);
} */

.experience {
  opacity: 1;
  transition: opacity 0.3s;
}

.experiences:hover .experience__content {
  opacity: 0.5;
}

.experience__content {
  padding: 10px 15px;
  background-color: var(--color-white);
  transition: background-color 0.3s;
  border-radius: 8px;
}

.experience:hover .experience__content {
  background-color: #f1f1f1;
  opacity: 1;
}

.experience__content h3 {
  margin-top: 5px;
}

.experience__date {
  font-family: "Libre Baskerville", serif;
  font-size: 1.8rem;
  margin-top: 0;
}

.experience:not(:last-child) {
  position: relative;
  border-bottom: solid 1px #d0d0d0;
  margin: 20px 0;
  padding-bottom: 20px;
}

.experience:not(:last-child):after {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #d0d0d0;
}

.experience__skills p {
  margin-bottom: 0;
  font-size: 1.6rem;
}

.experience__skills span {
  background-color: #f8e19c;
  display: inline-block;
  padding: 2px 15px;
  margin: 5px 2px;
  border-radius: 10px;
  transition: background-color 0.3s;
}

.experience:hover .experience__skills span {
  background-color: #eec643;
}

.contact {
  text-align: center;
}

:target {
  scroll-margin-top: 80px;
}